.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.h2 { 
  display: flex;
  flex-direction: column;
  color: #355C7D; 
  font-family: 
  'Open Sans', sans-serif; 
  font-size: 40px; 
  font-weight: 10000;
  font-style: italic;
  letter-spacing: 15px; 
  line-height: 32px; 
  margin: 0 0 72px; 
  text-align: center;
  justify-content: center; 
}

.h2 div {
 margin: 30px;
}